
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


*{
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.firstScreen{
    
    height: 100vh;
    width: 100%;

    position: relative;
}
.firstScreen::after{
    content: "";
    background: url('./gray-paved-road-between-trees-3077379.jpg');
    background-size: 100% 100%;
    opacity: .5;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
    opacity: .8;
}

.header__logo{
    flex: 1;
}

.header__logo h1{
    display: inline-block;
    line-height: 40px;
    font-size: 1.2rem;
}

.header__menu{
    flex: 1;
}

.motto__left, .motto__content, .motto__right, .portfolio__left, .portfolio__right, .contact__left, .contact__right{
    position: absolute;
    font-size: 6rem;

    color: black;
}

.motto__left{
    top: 20vh;
    left: 1vw;
}

.motto__content{
    top: 30vh;
    left: 10vw;
    width: 75vw;
}

.motto__content__top{
    left: 5vw;
}
.motto__content__bottom{
    left: 10vw;
    display: flex;
    justify-content: flex-end;
}

.motto__right{
    top: 60vh;
    left: 90vw;
}

.firstScreen__content .arrow{
    position: absolute;
    top: 85vh;
    display: inline-block;
    width: 100%;

    font-size: 5rem;
    text-align: center;

    animation: down 2s infinite;
}


.portfolio__wrapper, .contact{
    position: relative;
    height: 100vh;
}

.portfolio__title{
    display: inline-block;
    width: 100%;
    text-align: center;

    font-size: 4rem;
    letter-spacing: .1em;
}

.portfolio, .contact_content{
    margin: 10vh 9vw 0;
    height: 65vh;
    background-color: #daf5ff;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);
}

/* according to No.1 maket share screen size */
.portfolio__content{
    position: relative;
    display: inline-block;
    background-color: aliceblue;
    width: 45%;
    height: 40%;
    margin: 2.5% 2%;
}

.portfolio__content1{
    background: url('./螢幕快照\ 2019-11-21\ 下午9.59.21.png');
    background-size: 100% 100%;

}
.portfolio__content2{
    background: url('./KKTIXextension捷圖.jpg');
    background-size: 100% 100%;

}
.portfolio__content3{
    background: url('.');
    background-size: 100% 100%;

}
.portfolio__content4{
    background: url('.');
    background-size: 100% 100%;

}

.portfolio__right, .contact__right{
    top: 75vh;
    left: 90vw;
}

.contact{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: lightcyan;
}

.contact h2{
    font-family: "Titillium Web", "Adobe Blank";
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 40px;
}

.contact_content{
    height: 55vh;
    position: relative;
}
/* TODO: optimize the style */
.contact_content_inner{
    height: 240px;
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



ol, ul{
    list-style: none;
}

.pd_r_20{
    padding-right: 20px;
}

.pd_l_20{
    padding-left: 20px;
}

.justify-content-right{
    justify-content: right;
}

@keyframes down{
    0%{
        top: 85vh;
    }
    25%{
        top: 88vh;
    }
    50%{
        top: 85vh;
    }
    75%{
        top: 88vh;
    }
    100%{
        top: 85vh;
    }
}

