
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@import './portfolio.css';
@import './loading.css';

*{
    font-family: Helvetica, Arial, sans-serif !important;
    /* font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif; */
}

html, body { scroll-behavior:smooth; }

#firstScreen{
    
    height: 100vh;
    width: 100%;

    position: relative;
}
#firstScreen::after{
    content: "";
    background: url('https://willy-personal.s3.amazonaws.com/personalBlog/gray-paved-road-between-trees-3077379.jpg');
    background-size: 100% 100%;
    opacity: .5;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;

    background-color: #34495e;
}

.header__logo{
    flex: 1;
}
.header__logo .rotate{
    height: 32px;
    display: inline-block;
    color: #badefc;
    float: left;
    margin: 4px;
    animation: rotate 2s infinite;

}
.header__logo .rotate:after{
    content: '';
    clear: both;
}

.header__logo h1{
    display: inline-block;
    line-height: 40px;
    font-size: 1.2rem;

    color: #badefc;
}

.header__menu{
    flex: 1;
}

.hamburger{
    width: 30px;
    height: 22px;
    position: relative;
    display: none;
    padding: 0;
    margin-top: 14px;

    color: #badefc;
}
.hamburger .line{
    display: block;
    background: #badefc;
    width: 30px;
    height: 4px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s; 
}
.hamburger .line-1{
    top: calc( 0% - 4px );
}
.hamburger .line-2{
    top: calc( 50% - 4px );
}
.hamburger .line-3{
    top: calc( 100% - 4px );
}

.active .line-1{
    transform: translateY(10.5px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(10.5px) translateX(0) rotate(45deg);
    -moz-transform: translateY(10.5px) translateX(0) rotate(45deg);
}
.active .line-2{
    opacity: 0;
}
.active .line-3{
    transform: translateY(-11.5px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-11.5px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-11.5px) translateX(0) rotate(-45deg);
}

.nav{
    position: absolute;
    right: 10px;
}
.nav a{
    color: white;
}
@media (max-width: 767px){
    .nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

aside{
    display: none;
    position: fixed;
    top: 40px;
    right: 0;
    width: 100%;
    background-color: #34495e;
    z-index: 5;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);
}
aside .longLine{
    width: 100%;
    height: 1px;
    background-color: gray;
}
aside a{
    color: #badefc;
}

.motto__left, .motto__content, .motto__right, .portfolio__left, .portfolio__right, .contact__left, .contact__right{
    position: absolute;
    font-size: 8vw;

    color: black;
}

.motto__left{
    top: 20vh;
    left: 1vw;
}

.motto__content{
    top: 30vh;
    left: 10vw;
    width: 78vw;
}

.motto__content__top{
    left: 5vw;
    display: inline-block;
    margin-bottom: 1.5rem;
}
.motto__content__bottom{
    left: 10vw;
    display: flex;
    justify-content: flex-end;
}

.motto__right{
    top: 60vh;
    left: 90vw;
}

.firstScreen__content__button{
    position: absolute;
    top: 70%;
    left: calc(50% - 75px);
    width: 150px;
    height: 60px;
    background-color: #badefc;
    color: #586ba4;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-weight: 600;
}

.firstScreen__content__button:hover{
    text-decoration: none;
    background-color: initial;
    color: white;
    border: 2px white solid;
}

.firstScreen__content .arrow{
    position: absolute;
    top: 85vh;
    display: inline-block;
    width: 100%;

    font-size: 5rem;
    text-align: center;

    animation: down 2s infinite;
}



#contact{
    position: relative;
    height: 100vh;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: lightcyan;
}

#contact h2{
    /* font-family: "Titillium Web", "Adobe Blank"; */
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 40px;
}

@media (max-width: 480px) {
    #contact h2{
        font-family: "Titillium Web", "Adobe Blank";
        font-weight: 400;
        font-style: normal;
        font-size: 25vw;
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 40px;
    }
}


.contact__right{
    top: 75vh;
    left: 90vw;
}
@media (max-width: 979px){
    .contact__right{
        top: 90vh;
        /* bottom: 5vh; */
    }
}

.contact_content{
    margin: 10vh 9vw 0;
    background-color: #daf5ff;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);
    height: 55vh;
    position: relative;
}
@media (max-width: 767px){
    .contact_content{
        height: 60vh;
    }
}
/* TODO: optimize the style */
.contact_content_inner{
    height: 240px;
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact_content_inner span{
    cursor: pointer;
}

@media (min-width: 980px){
    .contact_content_inner img{
        min-width: 240px;
    }
}
@media (max-width: 480px){
    .contact_content_inner{
        height: 240px;
        position: absolute;
        top: 0%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media (max-width: 979px){
    .contact_content_inner img{
        width: 25vw;
    }
}
@media (max-width: 767px){
    .contact_content_inner img{
        width: 25vw;
    }
}
@media (max-width: 480px){
    .contact_content_inner img{
        width: 40vw;
    }
}


ol, ul{
    list-style: none;
}

.pd_r_20{
    padding-right: 20px;
}

.pd_l_20{
    padding-left: 20px;
}

.justify-content-right{
    justify-content: right;
}

@keyframes down{
    0%{
        top: 82vh;
    }
    25%{
        top: 85vh;
        /* display: none; why not work? */
        opacity: 0;
    }
    50%{
        top: 82vh;
    }
    75%{
        top: 85vh;
    }
    100%{
        top: 82vh;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

