


#portfolio__wrapper{
    position: relative;
    height: 100vh;
    background: url('./marble_background.jpg');
}
@media (max-width: 767px) {
    #portfolio__wrapper{
        position: relative;
        height: 960px;            
    }
}

.portfolio__title{
    display: inline-block;
    width: 100%;
    text-align: center;

    font-size: 4rem;
    letter-spacing: 4px;
    margin: 48px 0 0 0;
}
@media (max-width: 480px) {
    .portfolio__title{
        display: inline-block;
        width: 100%;
        text-align: center;
    
        font-size: 10vw;
        letter-spacing: .1em;
    }
}

.portfolio{
    margin: 10vh 9vw 0;
    height: 65vh;
    background-color: #daf5ff;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);
}
@media (max-width: 767px) {
    .portfolio{
        margin: 10vh 9vw 0;
        height: 65vh;
        background-color: white;
        box-shadow: none;
    }
}
@media (max-width: 479px) {
    .portfolio{
        margin: 3vh 9vw 0;
        height: 65vh;
        background-color: white;
        box-shadow: none;
    }
}


.close__button{
    font-size: 36px;
    padding-left: 9px;
    position: fixed;
    width: 50%;

    background-color: white;
    
    z-index: 10;
    cursor: pointer;
}

/* TODO outer blur */
.portfolio__intro__lightbox1{
    width: 50%;
    height: 80vh;

    position: fixed ;
    top: 10vh;
    left: 25%; 
    z-index: 99;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);

}
.portfolio__intro__lightbox1 .portfolio__content1{
    width: 90%;
    margin: 36px 5% 3%;  
}
.portfolio__intro__lightbox1.close{
    display: none;
}


.device__button{
    display: flex;
    justify-content: space-evenly;
}

.device__button a{
    width: 70px;
    height: 40px;
    line-height: 40px;
    background-color: #badefc;
    color: #586ba4;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}
.device__button.pt140 a{
    width: 140px;
}
.device__button a:hover{
    text-decoration: none;
    background-color: initial;
    color: #5db2f8;
    border: 2px #5db2f8 solid;
}

.portfolio__intro{
    display: inline-block;
    margin: 15px;
}

.portfolio__intro__title{
    color: blueviolet;
}

/* according to No.1 maket share screen size (16:9) */
.portfolio__content{
    position: relative;
    display: inline-block;
    background-color: aliceblue;
    width: 45%;
    height: 40%;
    margin: 2.5% 2%;
    cursor: pointer;
}
@media (max-width: 767px) {
    .portfolio__content{
        width: 90%;
        margin: 36px 5%;
        border: 1px inset gray;
    }
    .portfolio__intro{
        /* display: inline; */
        
        letter-spacing: 1px;
        line-height: 24px;
    }
}


.portfolio__intro__lightbox2{
    width: 50%;
    height: 80vh;

    position: fixed ;
    top: 10vh;
    left: 25%; 
    z-index: 99;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);

}
.portfolio__intro__lightbox2.close{
    display: none;
}
.portfolio__intro__lightbox2 .portfolio__content2{
    width: 90%;
    margin: 36px 5% 3%;  
}
.portfolio__intro__lightbox3{
    width: 50%;
    height: 80vh;

    position: fixed ;
    top: 10vh;
    left: 25%; 
    z-index: 99;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);

}
.portfolio__intro__lightbox3.close{
    display: none;
}
.portfolio__intro__lightbox3 .portfolio__content3{
    width: 90%;
    margin: 36px 5% 3%;  
}
.portfolio__intro__lightbox4{
    width: 50%;
    height: 80vh;

    position: fixed ;
    top: 10vh;
    left: 25%; 
    z-index: 99;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -1px 5px 35px -9px rgba(0,0,0,0.2);

}
.portfolio__intro__lightbox4.close{
    display: none;
}
.portfolio__intro__lightbox4 .portfolio__content4{
    width: 90%;
    margin: 36px 5% 3%;  
}

@media (max-width: 767px) {
    .close__button{
        width: 80%;
    }
    .portfolio__intro__lightbox1{
        position: fixed;
        width: 100%;
        /* Substract height of header */
        height: calc(100% - 40px);   
        top: 40px;
        left: 0;
    }
    .portfolio__intro__lightbox2{
        position: fixed;
        width: 100%;
        /* Substract height of header */
        height: calc(100% - 40px);   
        top: 40px;
        left: 0;
    }
    .portfolio__intro__lightbox3{
        position: fixed;
        width: 100%;
        /* Substract height of header */
        height: calc(100% - 40px);   
        top: 40px;
        left: 0;
    }
    .portfolio__intro__lightbox4{
        position: fixed;
        width: 100%;
        /* Substract height of header */
        height: calc(100% - 40px);   
        top: 40px;
        left: 0;
    }
}


.portfolio__content1{
    background: url('https://willy-personal.s3.amazonaws.com/personalBlog/bonnyBadmintonScreenshot.webp');
    background-size: 100% 100%;
}
/* .portfolio__content1:hover{
    transform: scale(1.1);
} */
.portfolio__content1:hover::after{
    content: "React、Redux \A 致力於推廣羽球知識、揪團臨打等服務的網站";
    display: block;
    position: absolute;
    background: black;
    opacity: .8;


    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;

    color: white;
    font-size: 2rem;
    text-align: center;
    white-space: pre-line;

    /* transform: scale(1.1); */

}


.portfolio__content2{
    background: url('https://willy-personal.s3.amazonaws.com/personalBlog/KKTIXextensionScreenshot.webp');
    background-size: 100% 100%;
}
.portfolio__content2:hover::after{
    content: "Javascript \A 協助加快搶票的瀏覽器擴充功能";
    display: block;
    position: absolute;
    background: black;
    opacity: .8;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;

    color: white;
    font-size: 2rem;
    text-align: center;
    white-space: pre-line;
}

.portfolio__content3{
    background: url('.');
    background-size: 100% 100%;
}
.portfolio__content3::after{
    content: "React Redux \A 協助遠程團隊會議的網站";
    display: block;
    position: absolute;
    background: black;
    opacity: .8;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;

    color: white;
    font-size: 2rem;
    text-align: center;
    white-space: pre-line;
}
.portfolio__content4{
    background: url('https://willy-personal.s3.amazonaws.com/personalBlog/NLPTrainingScreenshot.webp');
    background-size: 100% 100%;
}
.portfolio__content4:hover::after{
    content: "Vue \A 企業內部幫助 train bot 的網站";
    display: block;
    position: absolute;
    background: black;
    opacity: .8;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-width: 3px;
    border-style: solid;

    color: white;
    font-size: 2rem;
    text-align: center;
    white-space: pre-line;
}

.portfolio__right{
    top: 75vh;
    left: 90vw;
}

@media (max-width: 767px) {
    .portfolio__left{
        display: none;
    }
    .portfolio__right{
        display: none;
    }
}